PORT=8020
BOOKING_DB_URL=postgres://booking_user:booking_pass@localhost:5434/booking_db
EVENT_DB_URL=postgres://event_user:event_pass@localhost:5433/event_db
REDIS_URL=redis://localhost:6379
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_BOOKING=ticketify.bookings
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=booking-service
